
<footer class="page-footer font-small blue pt-4 bg-primary text-light">


    <div class="container-fluid text-center text-md-left">

        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">

                <h5 class="text-uppercase">LE QUAI ANTIQUE</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eveniet, harum quod repellat ullam vitae. A ad animi aspernatur at delectus dolores ea eos esse explicabo facilis ipsam ipsum iusto laborum maiores natus repellat reprehenderit, rerum saepe sed ut veniam!</p>

            </div>
            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
git
                <h5 class="text-uppercase">Horaires</h5>

                <ul class="list-unstyled">
{#                    {% for horaire in horaires %}#}
{#                    <li>{{horaire.jour}} : 12h-15 19h-22h</li>#}
{#                    {% endfor %}#}
                </ul>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase">ADRESSE</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>


        </div>


    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> MDBootstrap.com</a>
    </div>


</footer>
