*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/*edit Header by overriding bootstrap css*/
.navbar-collapse {
    flex-grow: 0;
}
.navbar-nav {
    padding: 0;
}

/*Home*/

.homeTitle {
    text-align: center;
    margin-top: 50px;
    font-weight: lighter;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}
.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
}